@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .labelTable {
    @apply text-slate-800 dark:text-dark-white text-base font-semibold font-['Manrope'] leading-[23.18px];
  }
  .labelRow {
    @apply text-right truncate md:text-center text-light-gray-800 dark:text-dark-white text-base font-semibold font-['Manrope'] leading-[23.18px];
  }
  * {
    @apply transition-colors 
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #CCCCCC;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0F1222;
  border-radius: 5px;
}
